
.submitItem {
    width: 500px;
    margin: 20px auto;
}
.submitItem  span{
    float: left;
    display: inline-block;
    width: 100px;
    text-align: right;
}
.submitItem  textarea{
    width: 350px;
    height: 80px;
}
.submitBtn{
    text-align: center;
}
.submitBtn input{
    width: 100px;
    height: 30px;
}


.entry-list{
    text-align: center;
    width: 400px;
    margin: 0px auto;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.entry-list h2{
    width: 40%;
    float: left;
    padding: 0;
    margin: 20px 30px 20px 0;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    border: 1px solid #3e84e9;
    box-sizing: border-box;
    background: #3e84e9;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}
.entry-list h2 a{
    text-decoration: none;
    color: #fff;
    display: block;
}